@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Azeret Mono", monospace !important;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 14px;
}
ul {
  list-style-type: disc;
  list-style-position: inside;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
}
ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}
ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.card-animation {
  opacity: 0;
  transform: translateY(10px);
  animation: slide 0.6s forwards;
}
@keyframes slide {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.underline-hover:hover {
  text-decoration: underline;
}
.nav-box-hover {
  transition: 0.2s;
}
.nav-box-hover:hover {
  background: hsl(240 21% 21% / 1) !important;
}
.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 9999;
}
.swal2-confirm.swal2-styled.swal2-default-outline {
  box-shadow: none;
}
.swal2-popup {
  font-size: 0.9rem !important;
}
.splide__pagination__page.is-active {
  background: #6cc000 !important;
}
.album-box {
  cursor: pointer;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.album-box:hover .album-box-overlay {
  opacity: 1;
  transform: translateY(0);
}
.album-box-overlay {
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateY(20px);
}
.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.slide-word-wrapper{
  position: relative;
  overflow: hidden;
}

.slide-word{
  color: rgba(219, 183, 155, 1);
  position: absolute;
  animation: slide-word 7s infinite ease-in-out;
}
.slide-word-sm{
  color: rgba(219, 183, 155, 1);
  position: absolute;
  animation: slide-word-sm 7s infinite ease-in-out;
}

@keyframes slide-word {
  0%{
    top: 0
  }
  6.25%{
    top: 0
  }
  8.25%{
    top: 0.5rem
  }
  12.5%{
    top: -4rem
  }
  18.75%{
    top: -4rem
  }
  25%{
    top: -4rem
  }
  31.25%{
    top: -4rem
  }
  33.25%{
    top: -3.5rem
  }
  39.5%{
    top: -8rem
  }
  45.75%{
    top: -8rem
  }
  52%{
    top: -8rem
  }
  58.25%{
    top: -8rem
  }
  60.25%{
    top: -7.5rem
  }
  66.5%{
    top: -12rem
  }
  72.75%{
    top: -12rem
  }
  79%{
    top: -12rem
  }
  85.25%{
    top: -12rem
  }
  87.25%{
    top: -12.5rem
  }
  93.5%{
    top: 0
  }
  100%{
    top: 0
  }
}

@keyframes slide-word-sm {
  0%{
    top: 0
  }
  6.25%{
    top: 0
  }
  8.25%{
    top: 0.5rem
  }
  12.5%{
    top: -3rem
  }
  18.75%{
    top: -3rem
  }
  25%{
    top: -3rem
  }
  31.25%{
    top: -3rem
  }
  33.25%{
    top: -2.5rem
  }
  39.5%{
    top: -6rem
  }
  45.75%{
    top: -6rem
  }
  52%{
    top: -6rem
  }
  58.25%{
    top: -6rem
  }
  60.25%{
    top: -5.5rem
  }
  66.5%{
    top: -9rem
  }
  72.75%{
    top: -9rem
  }
  79%{
    top: -9rem
  }
  85.25%{
    top: -9rem
  }
  87.25%{
    top: -9.5rem
  }
  93.5%{
    top: 0
  }
  100%{
    top: 0
  }
}

.active-drawer-link{
  color: rgba(219, 183, 155, 1);
}
.active-nav-link{
  color: rgba(219, 183, 155, 1);
  position: relative;
}
.active-nav-link::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 1rem;
  background-color: rgba(219, 183, 155, 1);
  border-radius: 100vh;
}
.slick-dots{
  bottom: 1rem !important;
}
.slick-dots li button:before{
  font-size: 1rem !important;
  color: #fff !important;
}
.slick-dots li.slick-active button:before{
  color: #fff !important
}